h4.heading {
    font-weight: 200;
    margin-bottom: 2.5rem;
}

.review {
    padding: 1rem 0 0.75rem 0;
    border-bottom: 2px solid #e6e6e6;
}

.review-author{
    color: #004B93;
    font-weight: bold;
  }
  
.review-rating{
    font-size: 0.9em;
    color: #b5c900;
}

.review .fa-star {
    color: #e6e600;
    margin-right: 0.25rem;
}