<div class="container">
    <div class="about-us-section">
        <h2>COMPANY PROFILE</h2>
        <hr class="divider">
        <div>
            <p>LFA Machines was started in 2009 with the objective of manufacturing and marketing machineries for the pharmaceutical, food, beverage and cosmetic industry.</p>
            <p>With advanced and innovative features designed and customised to the need of user, LFA Machine’s comprehensive range of equipment caters today to reputed names in the pharmaceutical, food, beverage and cosmetic industry.</p>
            <p>The entire manufacturing process is MRP-driven (Material Resource Planning) with controls at every stage ensuring proper integration and monitoring of all procedures and systems within the organization. There is no compromise on any aspect of quality or service linked to the final product.</p>
        </div>
    </div>
</div>
<div id="map"></div>

<div class="container">
    <div class="about-us-section">
        <h2>MISSION AND VISION</h2>
        <hr class="divider">
        <div>
            <h6>Our Mission:</h6>
            <p>To achieve higher levels of customer satisfaction by providing quality products through innovation, teamwork and commitment</p>
            <h6>Our Vision:</h6>
            <p>To be a leader in the field of Pharmaceutical Machinery with quality that excels in global markets.</p>
        </div>
    </div>
    <div class="about-us-section">
        <h2>TECHNOLOGY</h2>
        <hr class="divider">
        <div>
            <p>Technology has been the backbone of the company’s progress. The latest techniques are used at all stages of product design and development.</p>
            <p>The company’s team for product development activities focuses on future trends and needs, making LFA Machine’s equipment more efficient and user-friendly.</p>
            <p>Our constant focus on research has led to the production of a variety of high quality and innovative equipment and systems in the past three decades and more.</p>
            <p>LFA Machine draws its strength for innovation from a highly experienced and dedicated team of skilled professionals.</p>
        </div>
    </div>
    <div class="about-us-section">
        <h2>QUALITY MEASURES</h2>
        <hr class="divider">
        <div>
            <p>At LFA Machine, we believe that quality begins with each person at every level in the organization coupled with in-depth analysis of feedback from customers, vendors and our own market observations.</p>
            <p>It has always been the company’s endeavor to eventually translate this analysis of feedback and observations into high quality, high performance and user-friendly products.</p>
            <p>The design process for every equipment at LFA Machine starts with Design Qualification Protocols that are subject to stringent GAP and Risk Analysis measures.</p>
            <p>Quality checks are carried out at every stage of manufacturing with a final FAT (Factory Acceptance Test) before shipment.</p>
        </div>
    </div>
</div>