<h1>Category</h1>

<p>
    <a (click)="addClick()" class="btn btn-success text-white"> <i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
</p>
<table datatable id="tblData" [dtOptions]="dtOptions" [dtTrigger] = "dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let cate of categories">
            <td>
                {{cate.categoryName}}
            </td>
            <td>
                {{cate.categoryDescription}}
            </td>
            <td>
                <a class="btn btn-warning mr-1" (click)="editClick(cate)">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                </a>
                <a class="btn btn-info text-white mr-1">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                <a asp-action="Delete" class="btn btn-danger text-white" 
                (click)="onDelete(cate.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>

    </tbody>
</table>
