ngb-rating {
    color: #FFC107;
    font-size: 35px;
    outline: none;
}

label::after {
    content: '*';
    margin-left: 0.5rem;
    color: red;
}

.review-form button[type="submit"] {
    width: 100%;
}

#customer-reviews {
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: 2px solid #e6e6e6;
}

