<div class="row category" *ngIf="cateIndex % 2 === 0">
    <div class="col-lg-6 px-0">
        <!-- <img src="../assets/img/tablet-presses.jpg" alt=""> -->
        <img src={{category.products[0].imagePath}} alt="">
    </div>
    <div class="col-lg-6 category__content">
        <h5>{{category.name}}</h5>
        <ng-template>{{category.description}}</ng-template>

        <!-- <p>LFA Tablet Press supplies, tablet, pill and pellet presses form R&D Hand Held models right up to full
            production capacity Rotary Tablet Presses.</p>
        <p>Some of our most popular models include the Desk Top Presses which are fantastic for research departments
            and small batch production.</p>
        <p>LFA Tablet Presses also supplies a small range of excipients that can be used in the tablet presses. This
            includes Firmapress our all in one tableting excipient that works with almost every API.</p> -->
        <button class="btn btn-success">Check all {{category.name}}</button>
    </div>
</div>

<div class="row category" *ngIf="cateIndex % 2 !== 0">
    <div class="col-lg-6 category__content">
        <h5>{{category.name}}</h5>
        <ng-template>{{category.description}}</ng-template>
        <button class="btn btn-success">Check all {{category.name}}</button>
    </div>
    <div class="col-lg-6 px-0">
        <!-- <img src="../assets/img/tablet-presses.jpg" alt=""> -->
        <img src={{category.products[0].imagePath}} alt="">
    </div>
</div>

<!-- <div class="row category">
    <div class="col-lg-6 category__content">
        <h5>Capsule Fillers</h5>
        <p>LFA Capsule Fillers supplies, capsule fillers from small production runs and research and development
            models, that can do 100 capsules at a time, through to fully automatic capsule fullers for full-scale
            production.</p>
        <p>Launched in 2018 it is the latest addition to the LFA family. Despite this being the case our engineers
            are fully trained on the machines and able to offer the same support and training that the would with
            the mixers and tablet presses.</p>
        <p>LFA Capsule Fillers also offers a complete range of capsules for you to use in your machine. From 000 to
            5 we stock all of the regular sizes and are able to offer them in a range of colours and materials. We
            are practically excited about the organic capsule that allows you as a producer to easily produce a
            fully organic product.</p>
        <button class="btn btn-success">Check all Capsule Filler machines</button>
    </div>
    <div class="col-lg-6 px-0">
        <img src="../assets/img/capsule-fillers.jpg" alt="">
    </div>
</div>

<div class="row category">
    <div class="col-lg-6 px-0">
        <img src="../assets/img/mixing-machinery.jpg" alt="">
    </div>
    <div class="col-lg-6 category__content">
        <h5>Mixing Machinery</h5>
        <p>LFA Mixers is a fully comprehensive one stop shop for all of your powder mixing needs. With a range of
            designs that includes V Mixers, Bin Mixers and Ribbon blenders whatever powder mixing challenges you’re
            facing we are sure to be able to help.</p>
        <p>Originally included in the LFA Tablet Presses range we decided to separate out LFA Mixers in 2017 as our
            customer’s requirements became more diverse. Whether you’re mixing, capsule or tablet mixes, protein
            powders or industrial chemicals we believe that we can supply you with a mixer that can take on the
            challenge.</p>
        <p>With over 10 years mixing powders we understand that every mix is different. We are happy to work with
            you to find the right grade steal, add in agitation bars and validate different mixing methods,
            essentially customising every mixer for your specific needs.</p>
        <button class="btn btn-success">Check all Mixing machines</button>
    </div>
</div> -->
