<div class="row category" *ngIf="cateIndex % 2 === 0">
    <div class="col-lg-6 px-0">
        <img src="{{category.photoCategoryUrl || './assets/img/noimage.jpeg'}}" alt="">
    </div>
    <div class="col-lg-6 category__content">
        <h5>{{category.categoryName}}</h5>

        <div [innerHTML]="category.categoryDescription"></div>

        <button class="btn btn-success" routerLink="products/categories/{{category.id}}">Check all
            {{category.categoryName}}</button>
    </div>
</div>

<div class="row category" *ngIf="cateIndex % 2 !== 0">
    <div class="col-lg-6 category__content">
        <h5>{{category.categoryName}}</h5>
        <div [innerHTML]="category.categoryDescription"></div>

        <button class="btn btn-success" routerLink="products/categories/{{category.id}}">Check all
            {{category.categoryName}}</button>
    </div>
    <div class="col-lg-6 px-0">
        <img src="{{category.photoCategoryUrl || './assets/img/noimage.jpeg'}}" alt="">
    </div>
</div>