<h3>Career Manager</h3>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Upload your CV">
    <div class="input-group-append">
        <button class="btn btn-outline-dark" type="button">
            <i class="fas fa-file-upload"></i>
            Upload
        </button>
    </div>
</div>
<small class="text-black-50">Suitable files are .doc, .docx, .pdf</small>

<table class="table mt-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Salary</th>
            <th scope="col">Job Status</th>
            <!-- <th scope="col">Review Status</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="currentUser.job.jobName ; else infoText">
            <th scope="row">{{currentUser.job.jobName}}</th>
            <td>{{currentUser.job.salary}}$</td>
            <td>{{currentUser.job.status}}$</td>
            <!-- <td>
                <button class="btn btn-outline-success"><i class="fas fa-cloud-download-alt"></i></button>
                <button class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
            </td> -->
        </tr>
        <ng-template #infoText>
            <!-- <tr>You have not applied job</tr> -->
            <h2>You have not applied job</h2>
        </ng-template>
    </tbody>
</table>