<h3>Career Profile</h3>
<table class="table mt-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
            <th scope="col">Salary</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody *ngIf="careerProfiles?.length > 0 ; else infoText" >
        <tr *ngFor="let careerProfile of careerProfiles">
            <td>{{careerProfile.jobName}}</td>
            <td>{{careerProfile.location}}</td>
            <td>{{careerProfile.salary}}$</td>
            <td>
                <span class="{{getColor(careerProfile.isApproved)}}">{{careerProfile.isApproved | isApproved}}</span>
            </td>
        </tr>
    </tbody>
    <ng-template #infoText>
        <tbody>
            <tr><h2>You have not applied job yet</h2></tr>
        </tbody>
    </ng-template>
</table>