<div class="container" id="contactUs">
    <div class="row no-gutters">
        <div class="col-12 text-center">
            <h1>Contact Us</h1>
            <hr class="divider">
            <div class="google-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2461.7417088764464!2d-1.1465022842480193!3d51.90217757970187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876e76582c5ce61%3A0x8925046e26ce750d!2sLFA%20Tablet%20Presses!5e0!3m2!1sen!2s!4v1618839299510!5m2!1sen!2s"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-4 contact-info text-left px-4">
                    <ul>
                        <li class="d-flex mb-4">
                            <img src="../../assets/img/map-marker-alt-solid.svg" alt="">
                            Unit 4b, Rowood Estate, Murdock Road, Bicester, United
                            Kingdom
                        </li>
                        <li class="d-flex mb-4">
                            <img src="../../assets/img/envelope-regular.svg" alt="">
                            <a href="mailto:">corporate@lfamachines.com</a>
                        </li>
                        <li class="d-flex">
                            <img src="../../assets/img/phone-solid.svg" alt="">
                            01869 250234
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 contact-form text-left">
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                        <legend>Get In Touch</legend>
                        <p>Leave us a message and we’ll get back to you as quickly as possible.</p>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" formControlName="name" placeholder="Name *" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Your Name is required</div>
                                </div>
                            </div>
                            <div class="col">
                                <input type="text" formControlName="email" class="form-control" placeholder="Email *" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" appPhoneMask formControlName="phone" placeholder="Phone *" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.phone.errors.required">Your Phone is required</div>
                                </div>
                            </div>
                            <div class="col">
                                <select formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                    <option [value]="null" label="Select a country ... " selected="selected">Select a country ... </option>
                                    <option [value]="country.Name" *ngFor="let country of countries">{{ country.Name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" formControlName="subject" placeholder="Subject *" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
                            <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                                <div *ngIf="f.subject.errors.required">Subject is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" formControlName="description" rows="3" placeholder="Your message *" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">What do you want to share with us?</div>
                            </div>
                        </div>
                        <button  [disabled]="loading" class="btn btn-success btn-submit">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Submit
                        </button>
                        <button routerLink="../" class="btn btn-secondary">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>