<div class="container" id="contactUs">
    <div class="row no-gutters">
        <div class="col-12 text-center">
            <h1>Contact Us</h1>
            <hr class="divider">
            <div class="google-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2461.7417088764464!2d-1.1465022842480193!3d51.90217757970187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876e76582c5ce61%3A0x8925046e26ce750d!2sLFA%20Tablet%20Presses!5e0!3m2!1sen!2s!4v1618839299510!5m2!1sen!2s"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-4 contact-info text-left">
                    <ul>
                        <li class="d-flex mb-4">
                            <img src="../../assets/img/map-marker-alt-solid.svg" alt="">
                            Unit 4b, Rowood Estate, Murdock Road, Bicester, United
                            Kingdom
                        </li>
                        <li class="d-flex mb-4">
                            <img src="../../assets/img/envelope-regular.svg" alt="">
                            <a href="mailto:">corporate@lfamachines.com</a>
                        </li>
                        <li class="d-flex">
                            <img src="../../assets/img/phone-solid.svg" alt="">
                            01869 250234
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 contact-form text-left">
                    <form>
                        <legend>Get In Touch</legend>
                        <p>Leave us a message and we’ll get back to you as quickly as possible.</p>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" id="" placeholder="Name *">
                            </div>
                            <div class="col">
                                <input type="email" class="form-control" id="" placeholder="Email *">
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" id="" placeholder="Subject *">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="" rows="3" placeholder="Your message *"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>