<div class="row">
    <div class="col-md-3 text-center">
        <img class="img-detail img-thumbnail" src="{{candidate.photoUserUrl || './assets/img/user.png'}}"
            alt="{{candidate.fullName}}">
            <hr>
        <h6>Click on the image to download CV:</h6>
            <a href="liên_kết_đến_file_cần_tải_xuống" download>
                <img src="./assets/img/download.jpg" width="200">
            </a>
    </div>
    <div class="col-md-6">
        <dl class="row">

            <dt class="col-md-3">Id</dt>
            <dd class="col-md-9">{{candidate.id}}</dd>

            <dt class="col-md-3">Full Name</dt>
            <dd class="col-md-9">{{candidate.fullName}}</dd>

            <dt class="col-md-3">Email</dt>
            <dd class="col-md-9">{{candidate.email}}</dd>

            <dt class="col-md-3">Age</dt>
            <dd class="col-md-9">{{candidate.age}}</dd>

            <dt class="col-md-3">Gender</dt>
            <dd class="col-md-9">{{candidate.gender}}</dd>

            <dt class="col-md-3">Address</dt>
            <dd class="col-md-9">{{candidate.streetAddress}}</dd>

            <dt class="col-md-3">State</dt>
            <dd class="col-md-9">{{candidate.state}}</dd>

            <dt class="col-md-3">City</dt>
            <dd class="col-md-9">{{candidate.city}}</dd>

            <dt class="col-md-3">Country</dt>
            <dd class="col-md-9">{{candidate.country}}</dd>

            <dt class="col-md-3">Degree</dt>
            <dd class="col-md-9">{{candidate.degree}}</dd>

            <dt class="col-md-3">Experience</dt>
            <dd class="col-md-9">{{candidate.experience}}</dd>

            <dt class="col-md-3">Status</dt>
            <dd class="col-md-9"><span class="{{getColor(candidate.isApproved)}}">{{candidate.isApproved |
                    isApproved}}</span></dd>
        </dl>
    </div>

</div>
<hr>
<div *ngIf="candidate.isApproved==null">
    <button class="btn btn-success mr-2" (click)="onApproved()"><i class="fa fa-check"></i>Approve</button>
    <button class="btn btn-danger" (click)="onRejected()"><i class="fa fa-remove"></i>Reject</button>
</div>