<div class="row">
    <div class="col-md-4">
        <img class="img-detail img-thumbnail" src="{{candidate.photoUserUrl || './assets/img/user.png'}}"
            alt="{{candidate.fullName}}">
    </div>
    <div class="col-md-8">
        <dl class="row">

            <dt class="col-md-2">Id</dt>
            <dd class="col-md-10">{{candidate.id}}</dd>

            <dt class="col-md-2">Full Name</dt>
            <dd class="col-md-10">{{candidate.fullName}}</dd>

            <dt class="col-md-2">Email</dt>
            <dd class="col-md-10">{{candidate.email}}</dd>

            <dt class="col-md-2">Age</dt>
            <dd class="col-md-10">{{candidate.age}}</dd>

            <dt class="col-md-2">Gender</dt>
            <dd class="col-md-10">{{candidate.gender}}</dd>

            <dt class="col-md-2">Address</dt>
            <dd class="col-md-10">{{candidate.streetAddress}}</dd>

            <dt class="col-md-2">State</dt>
            <dd class="col-md-10">{{candidate.state}}</dd>

            <dt class="col-md-2">City</dt>
            <dd class="col-md-10">{{candidate.city}}</dd>

            <dt class="col-md-2">Country</dt>
            <dd class="col-md-10">{{candidate.country}}</dd>

            <dt class="col-md-2">Degree</dt>
            <dd class="col-md-10">{{candidate.degree}}</dd>

            <dt class="col-md-2">Experience</dt>
            <dd class="col-md-10">{{candidate.experience}}</dd>

            <dt class="col-md-2">Status</dt>
            <dd class="col-md-10"><span class="{{getColor(candidate.isApproved)}}">{{candidate.isApproved | isApproved}}</span></dd>
        </dl>
    </div>

</div>
<hr>
<div *ngIf="candidate.isApproved==null">
    <button class="btn btn-success mr-2" (click)="onApproved()"><i class="fa fa-check"></i>Approve</button>
    <button class="btn btn-danger" (click)="onRejected()"><i class="fa fa-remove"></i>Reject</button>
</div>