<h3 class="text-info">Change Password</h3>
<form [formGroup]="pwdChangedForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Old Password</label>
        <input type="password" class="form-control" placeholder="********" formControlName="oldPwd" [ngClass]="{ 'is-invalid': submitted && f.oldPwd.errors }">
        <div *ngIf="submitted && f.oldPwd.errors" class="invalid-feedback">
            <div *ngIf="f.oldPwd.errors.required">Password is required</div>
            <div *ngIf="f.oldPwd.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>New Password</label>
            <input type="password" class="form-control" placeholder="********" formControlName="newPwd" [ngClass]="{ 'is-invalid': submitted && f.newPwd.errors }">
            <div *ngIf="submitted && f.newPwd.errors" class="invalid-feedback">
                <div *ngIf="f.newPwd.errors.required"> New Password is required</div>
                <div *ngIf="f.newPwd.errors.minlength"> New Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Confirm New Password</label>
            <input type="password" class="form-control" placeholder="********" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirmation Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
    </div>
    <button [disabled]="loading" class="btn btn btn-warning btn-submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Update Password
    </button>
    <a routerLink="../login" class="btn btn-link">Cancel</a>
</form>