<footer>
    <div class="container-fluid">
        <div class="row no-gutters align-items-center">
            <div class="col-lg-6 col-12">
                <p>Copyright LFA Machines 2021 ©</p>
                <p>All rights reserved. LFA Machines, LFA Tablet Presses, LFA Capsule Fillers and LFA Mixers are all trading names of LFA Machines Oxford LTD.</p>
            </div>
            <div class="col-lg-6 col-12 text-right social-icons">
                <a href="https://www.youtube.com/user/TabletPilPress">
                    <img src="../assets/img/youtube-logo.svg" alt="">
                </a>
                <a href="https://vimeo.com/lfatabletpresses">
                    <img src="../assets/img/vimeo.svg" alt="">
                </a>
                <a href="https://www.facebook.com/lfatabletpresses">
                    <img src="../assets/img/facebook-logo.svg" alt="">
                </a>
                <a href="https://twitter.com/lfatabletpress">
                    <img src="../assets/img/twitter-logo.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/company/lfa-machines-oxford-ltd">
                    <img src="../assets/img/linkedin-logo.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
