<div class="container">
    <h1>Desktop Tablet Presses</h1>
    <p>8 items</p>
    <div class="row no-gutters">
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <img src="https://www.lfatabletpresses.com/media/catalog/product/cache/8ca834c2aefe5a332c057aa7488b2959/t/d/tdp-6s-tablet-press-main_1.webp" alt="" class="product-card-img">
                <div class="product-card-hover"></div>
                <div>
                    <a href="" class="product-card-info">
                        <h6>TDP 5 Desktop Tablet Press</h6>
                    </a>
                </div>
                <div>
                    <a href="" class="check-detail">Check Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <img src="https://www.lfatabletpresses.com/media/catalog/product/cache/8ca834c2aefe5a332c057aa7488b2959/t/d/tdp-1.5-main.webp" alt="" class="product-card-img">
                <div class="product-card-hover"></div>
                <div>
                    <a href="" class="product-card-info">
                        <h6>TDP 1.5 Desktop Tablet Press</h6>
                    </a>
                </div>
                <div>
                    <a href="" class="check-detail">Check Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <img src="https://www.lfatabletpresses.com/media/catalog/product/cache/8ca834c2aefe5a332c057aa7488b2959/d/t/dtp-tablet-press-range.webp" alt="" class="product-card-img">
                <div class="product-card-hover"></div>
                <div>
                    <a href="" class="product-card-info">
                        <h6>DTP Tablet Press Range</h6>
                    </a>
                </div>
                <div>
                    <a href="" class="check-detail">Check Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <img src="https://www.lfatabletpresses.com/media/catalog/product/cache/8ca834c2aefe5a332c057aa7488b2959/t/d/tdp-6s-tablet-press-main_1.webp" alt="" class="product-card-img">
                <div class="product-card-hover"></div>
                <div>
                    <a href="" class="product-card-info">
                        <h6>TDP 6s Desktop Tablet Press</h6>
                    </a>
                </div>
                <div>
                    <a href="" class="check-detail">Check Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <img src="https://www.lfatabletpresses.com/media/catalog/product/cache/8ca834c2aefe5a332c057aa7488b2959/t/d/tdp-6s-tablet-press-main_1.webp" alt="" class="product-card-img">
                <div class="product-card-hover"></div>
                <div>
                    <a href="" class="product-card-info">
                        <h6>TDP 6s Desktop Tablet Press</h6>
                    </a>
                </div>
                <div>
                    <a href="" class="check-detail">Check Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <img src="https://www.saintytec.com/wp-content/uploads/2018/08/Aprila-SG50-568-340.jpg" alt="" class="product-card-img">
                <div class="product-card-hover"></div>
                <div>
                    <a href="" class="product-card-info">
                        <h6>Aprila SG50</h6>
                    </a>
                </div>
                <div>
                    <a href="" class="check-detail">Check Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <img src="https://www.saintytec.com/wp-content/uploads/2018/08/Aprila-SG100-.jpg" alt="" class="product-card-img">
                <div class="product-card-hover"></div>
                <div>
                    <a href="" class="product-card-info">
                        <h6>Aprila SG100</h6>
                    </a>
                </div>
                <div>
                    <a href="" class="check-detail">Check Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <img src="https://www.saintytec.com/wp-content/uploads/2018/08/Aprila-SG250-1.jpg" alt="" class="product-card-img">
                <div class="product-card-hover"></div>
                <div>
                    <a href="" class="product-card-info">
                        <h6>Aprila SG250</h6>
                    </a>
                </div>
                <div>
                    <a href="" class="check-detail">Check Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
