#register legend {
    border-bottom: 2px solid #006400;
}

#register label.required::after {
    content: '*';
    color: red;
    margin-left: 0.3rem;
}

.btn-submit {
    margin-right: 1rem;
}

.btn-outline-dark {
    box-shadow: none;
}