<!-- HERO SECTION -->
<section class="hero row my-5 px-5 mx-0">
    <div class="col-lg-6 col-12 hero__video">
        <video muted="" preload="true" loop="" autoplay="">
            <source src="../../assets/video/video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-lg-6 col-12 hero_desc d-flex flex-column justify-content-center align-items-center">
        <img src="../../assets/img/logo-1.svg" alt="" height="120" width="120">
        <h2 class="mt-2">
            We don't just sell machinery,<br>
            We offer service.
        </h2>
    </div>
</section>
<!-- END: HERO SECTION -->

<div class="container">

    <!-- CERTIFICATION SECTION -->
    <div class="cert mb-5 row d-flex justify-content-center align-items-center">
        <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
            <div class="cert-img-wrapper">
                <img src="../../assets/img/ce.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
            <div class="cert-img-wrapper">
                <img src="../../assets/img/solution-image02.png" alt="">
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
            <div class="cert-img-wrapper">
                <img src="../../assets/img/ISO.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- END: CERTIFICATION SECTION -->
</div>

<div class="container-fluid">
    <div class="benefits">
        <h2 class="text-center mb-2">WHY CHOOSE US ?</h2>
        <hr class="divider">
        <div class="row">
            <div class="col-lg-3 benefit">
                <div class="benefit-img">
                    <img src="../../assets/img/shipping-fast-solid.svg" alt="">
                </div>
                <div class="benefit-content">
                    <h4>Quick Shipping</h4>
                    <p>We have locations all across the globe so we can ship your order to you as quickly as possible.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 benefit">
                <div class="benefit-img">
                    <img src="../../assets/img/wallet-solid.svg" alt="">
                </div>
                <div class="benefit-content">
                    <h4>Money Back Guarantee</h4>
                    <p>We back you up with a warranty to take all of the risk out of purchasing a tablet press.</p>
                </div>
            </div>
            <div class="col-lg-3 benefit">
                <div class="benefit-img">
                    <img src="../../assets/img/support_agent.svg" alt="">
                </div>
                <div class="benefit-content">
                    <h4>Helping You With Your Project</h4>
                    <p>We've got a team of tableting experts ready to help you with any problems that can come up with
                        your project</p>
                </div>
            </div>
            <div class="col-lg-3 benefit">
                <div class="benefit-img">
                    <img src="../../assets/img/chalkboard-teacher-solid.svg" alt="">
                </div>
                <div class="benefit-content">
                    <h4>Free Training & Resources</h4>
                    <p>Find our video and article section for tutorials and how-tos, or come to our facility for free
                        training on your Tablet Press.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-categories></app-categories>

<div class="customer-feedback">
    <h2 class="text-center">CUSTOMER TESTIMONIALS</h2>
    <hr class="divider">
    <swiper [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://raw.githubusercontent.com/Cybersoft-LeThanhLiem/Homestead_LeThanhLiem/master/img/f1.jpg"
                    alt="img 1">
                <div class="customer-quote">
                    <em>"I have been using the LFA Capsule machine for size Su07, 7, and 10 capsules for several
                        months. My staff and I have been very impressed with the quality of craftsmanship and the ease
                        of use. In my practice as a Veterinary Pharmacist, I receive many requests for small quantities
                        of special combinations of medicinals. The LFA Table machine saves my staff a considerable amount
                        of time and labor when compounding these formulations. I have also found the Torpac machine to
                        be very reliable and consistent when doing larger quantities."
                    </em>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://raw.githubusercontent.com/Cybersoft-LeThanhLiem/Homestead_LeThanhLiem/master/img/f2.jpg"
                    alt="img 2">
                <div class="customer-quote">
                    <em>"The capsule machine has worked very well for us. We are able to fill the capsules much faster
                        and more efficiently than before. At the same time the capsules are more evenly filled. Some
                        other positive benefits of the capsule-filling machine are: less work involved, less capsules
                        broken in the process and there is less mess in the capsuling process."
                    </em>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://raw.githubusercontent.com/Cybersoft-LeThanhLiem/Homestead_LeThanhLiem/master/img/f3.jpg"
                    alt="img 3">
                <div class="customer-quote">
                    <em>I would like to take this opportunity and write my testimony on LFA Oxford to give my highest
                        recommendation. I have known LFA Oxford as a pharmaceutical equipment manufacturer for more
                        than a decade and can with good faith recommend the company to possess all the attributes of an
                        excellent supplier who knows the pharmaceutical market extremely well, is responsive, and very
                        patient with different client needs. LFA Oxford has that perfect balance of knowledge, drive,
                        customer need anticipation, enthusiasm and execution to customer’s desire, within budget, with
                        high quality that would exceed customer expectations. The service support post sales are
                        exceptional and almost unparalleled in the industry!!!
                    </em>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://raw.githubusercontent.com/Cybersoft-LeThanhLiem/Homestead_LeThanhLiem/master/img/f4.jpg"
                    alt="img 4">
                <div class="customer-quote">
                    <em>We are pleased to put on record that we are dealing with LFA Oxford since 1985 and your
                        equipments are working satisfactorily at our various plants. We have found your company to be
                        efficient and prompt in services and generally timelines of supplies are honoured. We have
                        recommended your company as a supplier of quality machines to those who have enquired with
                        us. Wishing LFA Oxford Pvt Ltd. all the best. On your specific request we are issuing this
                        letter.
                    </em>
                </div>
            </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </swiper>
</div>

<div class="clients container text-center">
    <h2>TRUSTED BY</h2>
    <hr class="divider">
    <div class="clients__list row no-gutters">
        <div class="col-lg-3 col-6 client">
            <img src="../../assets/img/Johnson_and_Johnson.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../../assets/img/PepsiCo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../../assets/img/gsk-logo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../../assets/img/colgate-palmolive-logo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../../assets/img/pfizer-logo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../../assets/img/bayer-logo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../../assets/img/merck-logo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../../assets/img/sanofi-logo.svg" alt="">
        </div>
    </div>
</div>

<div class="careers">
    <span class="careers-overlay">
    </span>
    <div class="careers-caption">
        <div class="container text-center text-white">
            <h1>Aim Higher. Reach Farther. Dream Bigger.</h1>
            <h4 class="mb-4">A better career is out there. We'll help you find it.</h4>
            <button class="btn btn-success"><i class="fa fa-briefcase mr-2"></i>Find Job</button>
        </div>
    </div>
</div>

<div class="locations container text-center">
    <h2>OUR LOCATIONS</h2>
    <hr class="divider">
    <div class="row no-gutters">
        <div class="col-lg-3 col-6 location">
            <img src="../assets/img/UK-flag.svg" alt="">
            <div class="location__content">
                <h5>United Kingdom</h5>
                <p>Unit 4B Rowood Estate, Murdock Road, Oxfordshire, United
                    Kingdom.</p>
                <p class="tel">Tel: 01869 250234</p>
                <p>Monday - Friday: 9am - 5pm (GMT)</p>
            </div>
        </div>
        <div class="col-lg-3 col-6 location">
            <img src="../assets/img/US-flag.svg" alt="">
            <div class="location__content">
                <h5>United States</h5>
                <p>955 N Sylvania Ave, Fort Worth, Texas, 76111, United States.</p>
                <p class="tel">Tel: (682) 312 0034</p>
                <p>Monday - Friday: 8am - 6pm (GMT-6)</p>
            </div>
        </div>
        <div class="col-lg-3 col-6 location">
            <img src="../assets/img/Taiwan-flag.svg" alt="">
            <div class="location__content">
                <h5>Taiwan</h5>
                <p>7F.-5,No.2, Sec. 2, Taiwan Blvd, West Dist, Taichung City 403, Taiwan
                <p class="tel">Tel: +886422031790</p>
                <p>Monday - Friday: 9am - 5pm (GMT+8)</p>
            </div>
        </div>
        <div class="col-lg-3 col-6 location">
            <img src="../assets/img/Germany-flag.svg" alt="">
            <div class="location__content">
                <h5>Germany</h5>
                <p>Business Parc Am Trippelsberg 92, Düsseldorf, 40589, Germany</p>
                <p class="tel">Tel: +4921188250223</p>
                <p>Monday - Friday: 9am - 5pm (GMT+1)</p>
            </div>
        </div>
    </div>
</div>