.list-group h4 {
    font-weight: 400;
}

.list-group-item {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item .fa-arrow-right {
    font-size: 20px;
    transition: all 0.4s;
}

.list-group-item:hover .fa-arrow-right {
    transform: translateX(10px);
}