<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
        <img src="../assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Machines
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Encapsulation Machines</a>
                    <a class="dropdown-item" href="#">Table Press Machines</a>
                    <a class="dropdown-item" href="#"></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Careers</a>
            </li>
        </ul>
        <button class="btn btn-success mr-3">
            <i class="fa fa-user"></i>
            Account</button>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search entire store here"
                aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
                <i class="fa fa-search"></i>
                Search</button>
        </form>
    </div>
</nav>
<!-- END: NAVBAR -->

<!-- HERO SECTION -->
<section class="hero row my-5 px-5 mx-0">
    <div class="col-6 hero__video">
        <video muted="" preload="true" loop="" autoplay="">
            <source src="../assets/video/video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-6 hero_desc d-flex flex-column justify-content-center align-items-center">
        <img src="../assets/img/logo-1.svg" alt="" height="120" width="120">
        <h2 class="mt-2">
            We don't just sell machinery,<br>
            We offer service.
        </h2>
    </div>
</section>
<!-- END: HERO SECTION -->

<div class="container">
<!-- CERTIFICATION SECTION -->
    <div class="cert row d-flex justify-content-center align-items-center">
        <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
            <div class="cert-img-wrapper">
                <img src="../assets/img/ce.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
            <div class="cert-img-wrapper">
                <img src="../assets/img/solution-image02.png" alt="">
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
            <div class="cert-img-wrapper">
                <img src="../assets/img/ISO.jpg" alt="">
            </div>
        </div>
    </div>
<!-- END: CERTIFICATION SECTION -->
</div>
