<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
        <img src="../assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Machines
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Encapsulation Machines</a>
                    <a class="dropdown-item" href="#">Table Press Machines</a>
                    <a class="dropdown-item" href="#"></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Careers</a>
            </li>
        </ul>
        <button class="btn btn-success mr-3">
            <i class="fa fa-user"></i>
            Account</button>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search entire store here"
                aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
                <i class="fa fa-search"></i>
                Search</button>
        </form>
    </div>
</nav>
<!-- END: NAVBAR -->

<!-- HERO SECTION -->
<section class="hero row my-5 px-5 mx-0">
    <div class="col-6 hero__video">
        <video muted="" preload="true" loop="" autoplay="">
            <source src="../assets/video/video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-6 hero_desc d-flex flex-column justify-content-center align-items-center">
        <img src="../assets/img/logo-1.svg" alt="" height="120" width="120">
        <h2 class="mt-2">
            We don't just sell machinery,<br>
            We offer service.
        </h2>
    </div>
</section>
<!-- END: HERO SECTION -->

<div class="container">

    <!-- CERTIFICATION SECTION -->
    <div class="cert mb-5 row d-flex justify-content-center align-items-center">
        <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
            <div class="cert-img-wrapper">
                <img src="../assets/img/ce.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
            <div class="cert-img-wrapper">
                <img src="../assets/img/solution-image02.png" alt="">
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 d-flex justify-content-center">
            <div class="cert-img-wrapper">
                <img src="../assets/img/ISO.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- END: CERTIFICATION SECTION -->
</div>

<div class="container-fluid">
    <div class="benefits">
        <h2 class="text-center mb-2">WHY CHOOSE US ?</h2>
        <hr class="divider">
        <div class="row">
            <div class="col-lg-3 benefit">
                <div class="benefit-img">
                    <img src="../assets/img/shipping-fast-solid.svg" alt="">
                </div>
                <div class="benefit-content">
                    <h4>Quick Shipping</h4>
                    <p>We have locations all across the globe so we can ship your order to you as quickly as possible.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 benefit">
                <div class="benefit-img">
                    <img src="../assets/img/wallet-solid.svg" alt="">
                </div>
                <div class="benefit-content">
                    <h4>Money Back Guarantee</h4>
                    <p>We back you up with a warranty to take all of the risk out of purchasing a tablet press.</p>
                </div>
            </div>
            <div class="col-lg-3 benefit">
                <div class="benefit-img">
                    <img src="../assets/img/support_agent.svg" alt="">
                </div>
                <div class="benefit-content">
                    <h4>Helping You With Your Project</h4>
                    <p>We've got a team of tableting experts ready to help you with any problems that can come up with
                        your project</p>
                </div>
            </div>
            <div class="col-lg-3 benefit">
                <div class="benefit-img">
                    <img src="../assets/img/chalkboard-teacher-solid.svg" alt="">
                </div>
                <div class="benefit-content">
                    <h4>Free Training & Resources</h4>
                    <p>Find our video and article section for tutorials and how-tos, or come to our facility for free
                        training on your Tablet Press.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container categories">
    <h2 class="text-center categories__title">OUR PRODUCTS</h2>
    <hr class="divider">
    <div class="row category">
        <div class="col-lg-6 px-0">
            <img src="../assets/img/tablet-presses.jpg" alt="">
        </div>
        <div class="col-lg-6 category__content">
            <h5>Tablets Presses</h5>
            <p>LFA Tablet Press supplies, tablet, pill and pellet presses form R&D Hand Held models right up to full
                production capacity Rotary Tablet Presses.</p>
            <p>Some of our most popular models include the Desk Top Presses which are fantastic for research departments
                and small batch production.</p>
            <p>LFA Tablet Presses also supplies a small range of excipients that can be used in the tablet presses. This
                includes Firmapress our all in one tableting excipient that works with almost every API.</p>
            <button class="btn btn-success">Check all Table Press machines</button>
        </div>
    </div>

    <div class="row category">
        <div class="col-lg-6 category__content">
            <h5>Capsule Fillers</h5>
            <p>LFA Capsule Fillers supplies, capsule fillers from small production runs and research and development
                models, that can do 100 capsules at a time, through to fully automatic capsule fullers for full-scale
                production.</p>
            <p>Launched in 2018 it is the latest addition to the LFA family. Despite this being the case our engineers
                are fully trained on the machines and able to offer the same support and training that the would with
                the mixers and tablet presses.</p>
            <p>LFA Capsule Fillers also offers a complete range of capsules for you to use in your machine. From 000 to
                5 we stock all of the regular sizes and are able to offer them in a range of colours and materials. We
                are practically excited about the organic capsule that allows you as a producer to easily produce a
                fully organic product.</p>
            <button class="btn btn-success">Check all Capsule Filler machines</button>
        </div>
        <div class="col-lg-6 px-0">
            <img src="../assets/img/capsule-fillers.jpg" alt="">
        </div>
    </div>

    <div class="row category">
        <div class="col-lg-6 px-0">
            <img src="../assets/img/mixing-machinery.jpg" alt="">
        </div>
        <div class="col-lg-6 category__content">
            <h5>Mixing Machinery</h5>
            <p>LFA Mixers is a fully comprehensive one stop shop for all of your powder mixing needs. With a range of
                designs that includes V Mixers, Bin Mixers and Ribbon blenders whatever powder mixing challenges you’re
                facing we are sure to be able to help.</p>
            <p>Originally included in the LFA Tablet Presses range we decided to separate out LFA Mixers in 2017 as our
                customer’s requirements became more diverse. Whether you’re mixing, capsule or tablet mixes, protein
                powders or industrial chemicals we believe that we can supply you with a mixer that can take on the
                challenge.</p>
            <p>With over 10 years mixing powders we understand that every mix is different. We are happy to work with
                you to find the right grade steal, add in agitation bars and validate different mixing methods,
                essentially customising every mixer for your specific needs.</p>
            <button class="btn btn-success">Check all Mixing machines</button>
        </div>
    </div>
</div>

<div class="clients container text-center">
    <h2>TRUSTED BY</h2>
    <hr class="divider">
    <div class="clients__list row no-gutters">
        <div class="col-lg-3 col-6 client">
            <img src="../assets/img/Johnson_and_Johnson.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../assets/img/PepsiCo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../assets/img/gsk-logo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../assets/img/colgate-palmolive-logo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../assets/img/pfizer-logo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../assets/img/bayer-logo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../assets/img/merck-logo.svg" alt="">
        </div>
        <div class="col-lg-3 col-6 client">
            <img src="../assets/img/sanofi-logo.svg" alt="">
        </div>
    </div>
</div>

<div class="locations container text-center">
    <h2>OUR LOCATIONS</h2>
    <hr class="divider">
    <div class="row no-gutters">
        <div class="col-lg-3 col-6 location">
            <img src="../assets/img/UK-flag.svg" alt="">
            <div class="location__content">
                <h5>United Kingdom</h5>
                <p>Unit 4B Rowood Estate, Murdock Road, Oxfordshire, United
                    Kingdom.</p>
                <p class="tel">Tel: 01869 250234</p>
                <p>Monday - Friday: 9am - 5pm (GMT)</p>
            </div>
        </div>
        <div class="col-lg-3 col-6 location">
            <img src="../assets/img/US-flag.svg" alt="">
            <div class="location__content">
                <h5>United States</h5>
                <p>955 N Sylvania Ave, Fort Worth, Texas, 76111, United States.</p>
                <p class="tel">Tel: (682) 312 0034</p>
                <p>Monday - Friday: 8am - 6pm (GMT-6)</p>
            </div>
        </div>
        <div class="col-lg-3 col-6 location">
            <img src="../assets/img/Taiwan-flag.svg" alt="">
            <div class="location__content">
                <h5>Taiwan</h5>
                <p>7F.-5,No.2, Sec. 2, Taiwan Blvd, West Dist, Taichung City 403, Taiwan
                <p class="tel">Tel: +886422031790</p>
                <p>Monday - Friday: 9am - 5pm (GMT+8)</p>
            </div>
        </div>
        <div class="col-lg-3 col-6 location">
            <img src="../assets/img/Germany-flag.svg" alt="">
            <div class="location__content">
                <h5>Germany</h5>
                <p>Business Parc Am Trippelsberg 92, Düsseldorf, 40589, Germany</p>
                <p class="tel">Tel: +4921188250223</p>
                <p>Monday - Friday: 9am - 5pm (GMT+1)</p>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row no-gutters align-items-center">
            <div class="col-lg-6 col-12">
                <p>Copyright LFA Machines 2021 ©</p>
                <p>All rights reserved. LFA Machines, LFA Tablet Presses, LFA Capsule Fillers and LFA Mixers are all trading names of LFA Machines Oxford LTD.</p>
            </div>
            <div class="col-lg-6 col-12 text-right social-icons">
                <a href="https://www.youtube.com/user/TabletPilPress">
                    <img src="../assets/img/youtube-logo.svg" alt="">
                </a>
                <a href="https://vimeo.com/lfatabletpresses">
                    <img src="../assets/img/vimeo.svg" alt="">
                </a>
                <a href="https://www.facebook.com/lfatabletpresses">
                    <img src="../assets/img/facebook-logo.svg" alt="">
                </a>
                <a href="https://twitter.com/lfatabletpress">
                    <img src="../assets/img/twitter-logo.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/company/lfa-machines-oxford-ltd">
                    <img src="../assets/img/linkedin-logo.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>