<div class="banner">
    <div id="particles-js"></div>
    <div class="banner-caption">
        <div class="container">
            <h1>Open Positions</h1>
            <h4>We offer {{count}} job opportunities.</h4>
        </div>
    </div>
</div>

<main class="container">
    <div class="row no-gutters">
        <div class="col-lg-8">
            <div class="list-group" *ngFor="let job of jobs">
                <a href="#" class="list-group-item list-group-item-action">
                    <div>
                        <h4>{{job.jobName}}</h4>
                        <span>
                            <i class="far fa-map"></i>
                            {{job.location}}
                        </span>
                    </div>
                    <div><i class="fas fa-arrow-right"></i></div>
                </a>
            </div>
            <div class="d-flex justify-content-center mt-3" *ngIf="pagination">
                <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
                    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                </pagination>
            </div>
        </div>

        <div class="col-lg-3 offset-lg-1">
            <form>
                <input class="form-control" type="text" placeholder="Keyword" #search>
                <div class="form-group mt-3">
                    <label class="text-center w-100">Salary</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Min">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Max">
                        </div>
                    </div>
                </div>
                <button (click)= "onSearch()" class="btn btn-success text-white w-100 mt-2 font-weight-bold">
                    <i class="fas fa-filter"></i>
                    Filter
                </button>
            </form>
        </div>
    </div>
</main>