.banner {
    padding: 5rem 0;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 2rem;
    position: relative;
}

#particles-js {
    position: absolute;
    background-color: #81d4fa;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-caption {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-caption h1,
.banner-caption h4 {
    font-weight: 200;
}

main {
    margin-bottom: 4rem;
}