<div class="top">
    <div class="container">
        <h1>Open Positions</h1>
        <h4>We offer 4 job opportunities.</h4>
    </div>
</div>

<main class="container">
    <div class="row no-gutters">
        <div class="col-lg-8">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <div>
                        <h4>Quality Assurance Specialist</h4>
                        <span>
                            <i class="far fa-map"></i>
                            Sydney, Australia
                        </span>
                    </div>
                    <div><i class="fas fa-arrow-right"></i></div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div>
                        <h4>Warehouse Technician</h4>
                        <span>
                            <i class="far fa-map"></i>
                            Bangalore, India
                        </span>
                    </div>
                    <div><i class="fas fa-arrow-right"></i></div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div>
                        <h4>Assembly Engineer</h4>
                        <span>
                            <i class="far fa-map"></i>
                            Los Angeles, San Francisco
                        </span>
                    </div>
                    <div><i class="fas fa-arrow-right"></i></div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div>
                        <h4>Technical Support Engineer</h4>
                        <span>
                            <i class="far fa-map"></i>
                            Shenzen, China
                        </span>
                    </div>
                    <div><i class="fas fa-arrow-right"></i></div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 offset-lg-1">
            <form>
                <input class="form-control" type="text" placeholder="Keyword">
                <div class="form-group mt-3">
                    <label class="text-center w-100">Salary</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Min">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Max">
                        </div>
                    </div>
                </div>
                <button class="btn btn-success text-white w-100 mt-2 font-weight-bold">
                    <i class="fas fa-filter"></i>
                    Filter
                </button>
            </form>
        </div>
    </div>
</main>