<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 60%;">

        <label class="col-sm-2 col-form-label">Employee Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="ProductName" placeholder="Enter Product Name">
        </div>

        <label class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
            <select class="form-control" [(ngModel)]="category">
                <option>--Select--</option>
                <option *ngFor="let cate of CategoryList">
                    {{cate.categoryName}}
                </option>
            </select>
        </div>

        <label class="col-sm-2 col-form-label">OutPut</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="OutPut" placeholder="Enter Output">
        </div>

    </div>
    <div class="ml-3 bd-highlight" style="width: 40%;">
        photo
    </div>
</div>


<button (click)="addProduct()" *ngIf="pro.Id==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateProduct()" *ngIf="pro.Id!=0" class="btn btn-primary">
    Update
</button>