
<div class="d-flex justify-content-between ">
    <h1>Role</h1>
    <input (keyup.enter)="onSearch()" type="text" placeholder="Search" #search class="form-control" style="width: 200px;">
</div>
<div class="row">
    <table class="table">
        <tr>
            <th style="width: 30%;">Full Name</th>
            <th style="width: 40%;">Active roles</th>
            <th style="width: 30%;"></th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.fullName}}</td>
            <td>{{user.roles}}</td>
            <td><button (click)="openRolesModal(user)" class="btn btn-info">Edit Roles</button></td>
        </tr>
    </table>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>
