<div class="row no-gutters">
    <div class="col-lg-8">
        <h4>Quality Assurance Specialist</h4>
        <div #jobDesc>
            <p>Under limited supervision, responsible for delivery of activities at client to ensure Product Quality throughout the lifecycle of commercial and/or clinical products. This key role must ensure effective interaction with other departments and locations regarding product quality risks, technology transfer, commercial operations, process and analytical lifecycle management and product discontinuation. This role will involve leading/partnering with major stakeholders such as Regulatory Affairs, Operations, Clinical Supply, Quality Control and Stability regarding GMP document, data preparation and review. The Global role enables efficient communication and decision making related to the quality of client products.</p>
            <h6>Responsibilities:</h6>
            <ul>
                <li>Provide Record Management support by performing the following activities:</li>
                <li>Inventorying and boxing clinical batch records and other records for archival</li>
                <li>Scanning documents, preparing documents, copy verification, and shipment preparation.</li>
                <li>Uploading PDFs into the PharmSci Global Document Management System</li>
                <li>Miscellaneous filling support as needed within Pharmaceutical Sciences Quality Assurance</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 offset-lg-1">
        <h4>Overview</h4>
        <div class="overview">
            <ul>
                <li>
                    <i class="far fa-map icon"></i>
                    <div class="overview-content">
                        <strong>Location</strong>
                        <p>Sydney, Australia</p>
                    </div>
                </li>
                <li>
                    <i class="far fa-money-bill-alt icon"></i>
                    <div class="overview-content">
                        <strong>Salary</strong>
                        <p>50.000$</p>
                    </div>
                </li>
                <li>
                    <i class="fas fa-user-tie icon"></i>
                    <div class="overview-content">
                        <strong>Slots</strong>
                        <p>2</p>
                    </div>
                </li>
            </ul>
            <button [disabled]="!currentUser" class="btn btn-success w-100 font-weight-bold">Apply</button>
        </div>
    </div>
</div>
