<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit()">
    <input type="hidden" name="id" [value]="job.id" />
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control form-control-lg" placeholder="Job Name" name="jobName" #jobName="ngModel"
            [(ngModel)]="job.jobName" required [class.invalid]="jobName.invalid && jobName.touched" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control form-control-lg" placeholder="Description" name="description"
            #description="ngModel" [(ngModel)]="job.description" required
            [class.invalid]="description.invalid && description.touched" />
    </div>
    <div class="form-group">
        <label>Salary</label>
        <input type="number" class="form-control form-control-lg" placeholder="Salary" name="salary" #salary="ngModel"
            [(ngModel)]="job.salary" required [class.invalid]="salary.invalid && salary.touched" />
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="number" class="form-control form-control-lg" placeholder="Quantity" name="Quantity"
            #Quantity="ngModel" [(ngModel)]="job.quantity" required
            [class.invalid]="Quantity.invalid && Quantity.touched" />
    </div>
    <div class="form-group">
        <label>Available</label>
        <input #isAvailable id="isAvailable" type="checkbox" [checked]="job.isAvailable" class="ml-3"
            (change)="onChanged(isAvailable.checked)" />
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>

</form>
