<div class="container my-4">
    <div class="row">
        <div class="col-6">
            <h1 class="mb-4">Create New Account</h1>
            <form id="register">
                <fieldset class="my-4">
                    <legend class="mb-4">Personal Information</legend>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label for="" class="required">First Name</label>
                            <input type="text" class="form-control" id="" required>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="">Middle Name</label>
                            <input type="text" class="form-control" id="">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="" class="required">Last Name</label>
                            <input type="text" class="form-control" id="" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-4">
                            <label for="" class="required">Gender:</label>
                        </div>
                        <div class="form-inline col-lg-4 align-items-center">
                            <input type="radio" name="genderRadio" id="male" class="form-check-input" checked>
                            <label for="male" class="form-check-label">Male</label>
                        </div>
                        <div class="form-inline col-lg-4 align-items-center">
                            <input type="radio" name="genderRadio" id="female" class="form-check-input">
                            <label for="female" class="form-check-label">Female</label>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend class="mb-4">Sign-in Information</legend>
                    <div class="form-group">
                        <label for="" class="required">Email address</label>
                        <input type="email" class="form-control" id="" required>
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="" class="required">Password</label>
                        <input type="password" class="form-control" id="" required>
                    </div>
                </fieldset>

                <button class="btn btn-success">Register</button>
                <small class="text-danger d-block mt-4">* Required Fields</small>
            </form>
        </div>
    </div>
</div>