<div class="container mt-3">
    <h2 class="mb-5">Customer Login</h2>
    <div class="row no-gutters login-container">
        <div class="col-lg-6 col-12 block customer-login-block">
            <h4 class="block-title">Registered Customers</h4>
            <div class="block-content">
                <p>If you have an account, sign in with your email address.</p>
                <form action="" id="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="d-flex align-items-center justify-content-between my-4">
                        <button class="btn btn-primary">Sign In</button>
                        <span>
                            <a href="" class="text-danger">Forgot your password ?</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-12 block new-customer-block">
            <h4 class="block-title">New Customers</h4>
            <div class="block-content">
                <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>
                <button class="btn btn-primary mt-2">Create an Account</button>
            </div>
        </div>
    </div>
</div>