@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}

.profile {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.profile-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 8%);
}

.profile-side img {
    border-radius: 50%;
}

.profile-main {
    padding: 1rem 2rem;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 8%);
}

.photo-upload {
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: block;
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 2px solid #006400;
    border-radius: 50%;
    margin-bottom: 0;
}

.hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}

.hoverable:hover .hover-text {
    display: block;
}

.hoverable:hover .background {
    display: block;
}

#fileInput {
    display: none;
}

