.container {
    margin-top: 6rem;
}

.btn-outline-dark {
    box-shadow: none;
}

.card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-header h2 {
    margin-bottom: 0;
}

.card-header img {
    display: block;
    width: 45px;
}