<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Forgot Password?</h2>
                    <p>You can reset your password here.</p>

                    <form role="form" class="form" [formGroup]="recoveryPwdForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="email" formControlName="email" placeholder="Your email address" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-lg btn-primary btn-block">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Reset Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>