<div class="container">
    <div class="d-flex justify-content-between ">
        <h1>Product Search</h1>
    </div>
    <p>{{count}} items</p>
    <div class="row no-gutters">
        <app-product-search-list class="col-lg-3 col-md-6 col-8" 
        *ngFor="let productEl of products" 
        [product]="productEl"></app-product-search-list>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>
