<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit()">
    <input type="hidden" name="id" [value]="job.id" />
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control form-control-lg" placeholder="Job Name" name="JobName" #JobName="ngModel"
            [(ngModel)]="job.jobName" required [class.invalid]="JobName.invalid && JobName.touched" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control form-control-lg" placeholder="Description" name="Description"
            #Description="ngModel" [(ngModel)]="job.description" required
            [class.invalid]="Description.invalid && Description.touched" />
    </div>
    <div class="form-group">
        <label>Salary</label>
        <input type="number" class="form-control form-control-lg" placeholder="Salary" name="Salary" #Salary="ngModel"
            [(ngModel)]="job.salary" required [class.invalid]="Salary.invalid && Salary.touched" />
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="number" class="form-control form-control-lg" placeholder="Quantity" name="Quantity"
            #Quantity="ngModel" [(ngModel)]="job.quantity" required
            [class.invalid]="Quantity.invalid && Quantity.touched" />
    </div>
    <div class="form-group">
        <label>Status</label>
        <input #IsAvailable id="IsAvailable" type="checkbox" [checked]="job.isAvailable" class="ml-3"
            (change)="onChanged(IsAvailable.checked)" />
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>

</form>