.container {
    margin: 4rem auto;
}

.product-hero-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5rem;
}

.product-hero-right .share ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
    margin-top: 1rem;
}

.product-hero-right .share span {
    font-weight: 600;
}

.product-hero-right .share ul li {
    padding-right: 0.5rem;
}

.product-hero-right .share ul li img {
    width: 30px;
}

.product-hero-right .product-title {
    font-weight: 200;
}

/* TABS */

tab {
    padding-top: 2rem;
}

/* ngb-rating {
    color: #FFC107;
    font-size: 35px;
    outline: none;
}

label::after {
    content: '*';
    margin-left: 0.5rem;
    color: red;
}

.review-form button[type="submit"] {
    width: 100%;
}

#customer-reviews {
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: 2px solid #e6e6e6;
}

#customer-reviews h4.heading {
    font-weight: 200;
    margin-bottom: 2.5rem;
}

#customer-reviews .review {
    padding: 1rem 0 0.75rem 0;
    border-bottom: 2px solid #e6e6e6;
}

#customer-reviews .review .fa-star {
    color: #e6e600;
    margin-right: 0.25rem;
} */