<div class="container">
    <div class="row no-gutters product-hero">
        <!-- CAROUSEL -->
        <div class="col-lg-6 product-carousel">
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <img class="swiper-slide" *ngFor="let photo of product?.photoProducts; let i = index" [src]="photo.photoProductUrl" alt="image {{i}}" />
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </swiper>
        </div>
        <!-- END: CAROUSEL -->

        <div class="col-lg-6 product-hero-right">
            <h1 class="product-title">{{product?.productName}}</h1>
            <div class="share">
                <span>SHARE THIS: </span>
                <ul>
                    <li><a href="#"><img src="../../../assets/img/facebook-logo.svg" alt=""></a>
                    </li>
                    <li><a href="#"><img src="../../../assets/img/twitter-logo.svg" alt=""></a>
                    </li>
                    <li><a href="#"><img src="../../../assets/img/linkedin-logo.svg" alt=""></a>
                    </li>
                </ul>
            </div>
            <iframe width="560" height="315" [src]="product?.introductionVideo | safe"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="product-detail-body container">
    <tabset [justified]="true">
        <tab heading="Description">
            <div *ngFor="let description of descriptions">
                <p>{{description}}</p>
            </div>
        </tab>
        <tab heading="Data Sheet">
            <h3 class="mb-4">Product Specification</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Product</td>
                        <td>TDP 5</td>
                    </tr>
                    <tr>
                        <td>Number of dies</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Max Pressure (kN)</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Max Diameter of Tablet</td>
                        <td>20 mm / 0.79 in</td>
                    </tr>
                    <tr>
                        <td>Max Production Capacity Per Hour</td>
                        <td>4,800</td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td>800 mm / 31.5 in</td>
                    </tr>
                    <tr>
                        <td>Width</td>
                        <td>400 mm / 15.7 in</td>
                    </tr>
                    <tr>
                        <td>Depth</td>
                        <td>700 mm / 27.5 in</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>132 kg / 291.1 lbs</td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Review">
            <button type="button" class="btn btn-warning" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseForm">Review this product
            </button>
            <div id="collapseForm" [collapse]="isCollapsed" [isAnimated]="true" class="row">
                <form class="col-lg-6 review-form">
                    <legend>
                        <p class="mb-0">You're reviewing:</p>
                        <h4>TDP 5 Desktop Tablet Press</h4>
                    </legend>
                    <div class="form-group">
                        <label for="" class="mb-0">Your rating</label>
                        <div>
                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" aria-required="true">
                            </ngb-rating>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Nickname</label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                    <div class="form-group">
                        <label for="">Summary</label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                    <div class="form-group">
                        <label for="">Review</label>
                        <textarea class="form-control" id="" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div id="customer-reviews">
                <h4 class="heading">Customer Reviews:</h4>
                <ul>
                    <li class="review">
                        <h5>Not variable machine. But good</h5>
                        <div class="row">
                            <div class="col-3 rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="col-9">
                                <p>This is a great machine for the price. The only major limitation of this machine is that it can only do one speed. There is only one setting.</p>
                                <p>Review by Arthur Ballard</p>
                            </div>
                        </div>
                    </li>
                    <li class="review">
                        <h5>So far, so good</h5>
                        <div class="row">
                            <div class="col-3 rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="col-9">
                                <p>I did a lot of research before buying a machine. So far, so good. And I'll try to stay on top of it so I can report on how it holds up.</p>
                                <p>Review by Colin Jones</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </tab>
    </tabset>
</div>