<div class="container">
    <div class="row no-gutters product-hero">
        <!-- CAROUSEL -->
        <div class="col-lg-6 product-carousel">
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <img class="swiper-slide" *ngFor="let img of Images" [src]="img.src" [alt]="img.alt" />
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </swiper>
        </div>
        <!-- END: CAROUSEL -->

        <div class="col-lg-6 product-hero-right">
            <h1 class="product-title">TDP 5 Desktop Tablet Press</h1>
            <div class="share">
                <span>SHARE THIS: </span>
                <ul>
                    <li><a href="#"><img src="../../../assets/img/facebook-logo.svg" alt=""></a>
                    </li>
                    <li><a href="#"><img src="../../../assets/img/twitter-logo.svg" alt=""></a>
                    </li>
                    <li><a href="#"><img src="../../../assets/img/linkedin-logo.svg" alt=""></a>
                    </li>
                </ul>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UUeTtetpo3w"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="product-detail-body container">
    <tabset [justified]="true">
        <tab heading="Description">
            <p>Manufactured by LFA in Taiwan, the TDP 5 has been built to the most rigorous standards of manufacture and
                efficiency. We use only the highest quality parts so your TDP 5 will continue to produce
                pharmaceutical-grade tablets for years to come.</p>
            <p>The TDP 5 is LFA’s most popular tablet press because of its improvements in quality and ability to get
                your business or concept off the ground.</p>
            <p>Customers like Oxford Vitality and Bite were able to start profitable businesses using the TDP 5 for
                these reasons.</p>
            <p>If you are looking for a tablet press to help you develop new pills or to test concepts prior to rolling
                them out for production, the TDP 5’s ability to produce a wide range of tablet sizes in small quantities
                means that this is definitely the machine for you. Designed to suit the needs of laboratory and
                developmental work rather than large scale manufacturing, the TDP 5 is nevertheless capable of producing
                any quantity from just a few tablets all the way up to small production runs of up to 4,800 tablets an
                hour.</p>
            <p>The appeal of this tablet press lies in its versatility, combined with a strong feature set and the high
                quality of its manufacture. The latter ensures excellent reliability. For all these reasons the TDP 5 is
                a popular choice for use in research institutes, laboratories, food technology applications,
                pharmaceutical development, chemical plants and hospitals, or any location where flexibility, ease of
                use and speed are at a premium.</p>
            <p>This tablet press is exceptionally easy to use, and despite its small size it offers a number of
                advantages that distinguish it from comparable machines.</p>
        </tab>
        <tab heading="Data Sheet">
            <h3 class="mb-4">Product Specification</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Product</td>
                        <td>TDP 5</td>
                    </tr>
                    <tr>
                        <td>Number of dies</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Max Pressure (kN)</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Max Diameter of Tablet</td>
                        <td>20 mm / 0.79 in</td>
                    </tr>
                    <tr>
                        <td>Max Production Capacity Per Hour</td>
                        <td>4,800</td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td>800 mm / 31.5 in</td>
                    </tr>
                    <tr>
                        <td>Width</td>
                        <td>400 mm / 15.7 in</td>
                    </tr>
                    <tr>
                        <td>Depth</td>
                        <td>700 mm / 27.5 in</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>132 kg / 291.1 lbs</td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Review">
            <button type="button" class="btn btn-warning" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseForm">Review this product
            </button>
            <div id="collapseForm" [collapse]="isCollapsed" [isAnimated]="true" class="row">
                <form class="col-lg-6">
                    <legend>
                        <p class="mb-0">You're reviewing:</p>
                        <h4>TDP 5 Desktop Tablet Press</h4>
                    </legend>
                    <div class="form-group">
                        <label for="" class="mb-0">Your rating</label>
                        <div>
                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" aria-required="true">
                            </ngb-rating>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Nickname</label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                    <div class="form-group">
                        <label for="">Summary</label>
                        <input type="text" class="form-control" id="" required>
                    </div>
                    <div class="form-group">
                        <label for="">Review</label>
                        <textarea class="form-control" id="" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </tab>
    </tabset>
</div>