<div class="container">
    <div class="row no-gutters product-hero">
        <!-- CAROUSEL -->
        <div class="col-lg-6 product-carousel">
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <img class="swiper-slide" *ngFor="let photo of product?.photoProducts; let i = index" [src]="photo.photoProductUrl" alt="image {{i}}" />
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </swiper>
        </div>
        <!-- END: CAROUSEL -->

        <div class="col-lg-6 product-hero-right">
            <h1 class="product-title">{{product?.productName}}</h1>
            <div class="share">
                <span>SHARE THIS: </span>
                <ul>
                    <li><a href="#"><img src="../../../assets/img/facebook-logo.svg" alt=""></a>
                    </li>
                    <li><a href="#"><img src="../../../assets/img/twitter-logo.svg" alt=""></a>
                    </li>
                    <li><a href="#"><img src="../../../assets/img/linkedin-logo.svg" alt=""></a>
                    </li>
                </ul>
            </div>
            <iframe width="560" height="315" [src]="product?.introductionVideo | safe"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="product-detail-body container">
    <tabset [justified]="true">
        <tab heading="Description">
            <div *ngFor="let description of descriptions">
                <p>{{description}}</p>
            </div>
        </tab>
        <tab heading="Data Sheet">
            <h3 class="mb-4">Product Specification</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Product</td>
                        <td>TDP 5</td>
                    </tr>
                    <tr>
                        <td>Number of dies</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Max Pressure (kN)</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Max Diameter of Tablet</td>
                        <td>20 mm / 0.79 in</td>
                    </tr>
                    <tr>
                        <td>Max Production Capacity Per Hour</td>
                        <td>4,800</td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td>800 mm / 31.5 in</td>
                    </tr>
                    <tr>
                        <td>Width</td>
                        <td>400 mm / 15.7 in</td>
                    </tr>
                    <tr>
                        <td>Depth</td>
                        <td>700 mm / 27.5 in</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>132 kg / 291.1 lbs</td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Review">
            <app-reviews></app-reviews>
        </tab>
    </tabset>
</div>