nav.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    opacity: 0.95;
}

nav.navbar .navbar-brand,
nav.navbar .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.6);
}

nav.navbar .nav-item .nav-link:hover,
nav.navbar .nav-item.active .nav-link {
    color: #fff;
}

nav.navbar input[type="search"]::placeholder {
    font-style: italic;
}

img.sign-out {
    width: 20px;
}