<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #343c4d;">
    <a class="navbar-brand" href="">
        <img src="../assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Machines
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Encapsulation Machines</a>
                    <a class="dropdown-item" href="#">Table Press Machines</a>
                    <a class="dropdown-item" href="#"></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/feedback">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/jobs">Careers</a>
            </li>
        </ul>
        <a *ngIf="!currentUser" routerLink="/login" routerLinkActive="active">
            <button class="btn btn-success mr-3">
                <i class="fa fa-user"></i>
                Log In
            </button>
        </a>
        <a *ngIf="currentUser" routerLink="/user/1" routerLinkActive="active">
            <button type="button" class="btn btn-primary mr-3">{{ username }}</button>
        </a>
        <a *ngIf="currentUser" (click)="logOut()">
            <button class="btn btn-danger mr-3">
                <img class="sign-out" src="../../assets/img/sign-out-alt-solid.svg" alt="">
                <span>Log Out</span>
            </button>
        </a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" #search type="search" placeholder="Search entire store here..."
                aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" (click)="onSearch(search.value)">
                <i class="fa fa-search"></i>
                Search</button>
        </form>
    </div>
</nav>
<!-- END: NAVBAR -->
